@media(max-width:1133px) {
      .container{
            width: 834px;     
      }
      .navigacion{
            display: none;
      }
      .button-login{
            display: none;
      }
     .logo{
          display: flex;
          margin-top: 20px;
     }
     .burger{
           display:block;
           margin-top: 20px;
           color: white;
           font-size: 30px;
     }
 
@media screen and (max-width:768px) {
      
}
@media screen and (max-width:576px) {
      
}